@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: 'Mooli', sans-serif;
}

body {
  font-family: var(--primary-font);
  font-size: 1.2em;
  color: var(--text-dark);
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  padding: 1rem;
  text-align: center;
}

h1 {
  font-family: var(--secondary-font);
}

a:link,
a:visited {
  color: var(--accent-color);
  text-decoration: none;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

img {
  max-width: 100%;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

#menuButton {
  background: none;
  border: none;
  color: var(--text-light);
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

/* Media Queries */
@media (min-width: 700px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  nav {
    display: inline-block;
  }

  #menuButton {
    display: none;
  }
}
